{{! KEYWORD PARTIAL }}

<span class="pc-keyword">
  <span class="pc-keyword-label">{{localize
      (concat "PC.keyword." @key)
    }}</span>{{#if this}}<span class="pc-keyword-value">{{this}}</span>{{/if}}
</span>