<li class="inline-action inline-ammo">
  {{log this}}
  <span class="inline-label">{{localize "PC.ammo.label"}}:</span>
  <button
    type="button"
    class="pick-ammo inline-button"
    data-action="ammoPicker"
    data-item-id="{{itemId}}"
  ><span class="inline-action-name">{{localize "PC.selectAmmo"}}</span></button>
</li>