{{! Experience block }}

<section class="experience flexrow">
  <span>{{system.experience.current}}</span>/
  <input
    class="xp-reserved"
    name="system.experience.reserved"
    type="Number"
    value="{{system.experience.reserved}}"
    data-dtype="Number"
  />/
  <input
    class="xp-total"
    name="system.experience.total"
    type="Number"
    value="{{system.experience.total}}"
    data-dtype="Number"
  />/{{localize "PC.xp"}}
</section>