{{! Experience block }}

<section class="experience flexrow">
  <span>{{system.experience.current}}</span>/
  <span>{{system.experience.reserved}}</span>/
  <input
    class="xp-total"
    name="system.experience.total"
    type="Number"
    value="{{system.experience.total}}"
    data-dtype="Number"
  />/XP
</section>