{{! Mitigation block }}

<section class="mitigation flexrow">
  <div class="flexcol">
    <div class="flexrow">
      <h4>AR</h4>
      <div>5</div>
    </div>
    <div class="flexrow">
      <h4>AB</h4>
      <div>4</div>
    </div>
  </div>
  <div class="flexcol">
    <div class="flexrow">
      <div>+1</div>
      <div>Robustez</div>
    </div>
    <div class="flexrow">
      <div>+0</div>
      <div>Isolante</div>
    </div>
  </div>
</section>