{{! Gear tab }}

<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="gear">
  <div>
    <h4>{{localize "PC.weaponry"}}</h4>
    <ol></ol>
  </div>
  <div>
    <h4>{{localize "PC.wear"}}</h4>
    <ol></ol>
  </div>
  <div>
    <h4>{{localize "PC.items"}}</h4>
    <ol></ol>
  </div>
</section>