{{! Gear tab }}

<section
  class="tab persona-tab {{tab.cssClass}}"
  data-group="primary"
  data-tab="gear"
>
  <div class="item-list-block">
    {{> systems/pars-crucis/templates/actor/blocks/weaponry.hbs}}
    <ol class="item-list vest-list">
      <div class="item-group-title">
        <div class="empty-space"></div>
        <h3>{{localize "PC.wear"}}</h3>
        <div class="item-sorting"></div>
      </div>
      {{#if (and system.vest system.accessories)}}
        {{#each system.vest}}
          {{> systems/pars-crucis/templates/actor/blocks/vest.hbs}}
        {{/each}}
        {{#each system.accessories}}
          {{> systems/pars-crucis/templates/actor/blocks/vest.hbs}}
        {{/each}}
      {{/if}}
    </ol>
    {{> systems/pars-crucis/templates/actor/blocks/items.hbs}}
  </div>
  {{> systems/pars-crucis/templates/actor/blocks/currency.hbs}}
</section>