<section class="sheet-body">
  <h3>MAIN</h3>
  <div class="field">
    <label>Físico (FIS)</label>
    <input type="number" name="system.fis.base" value="{{system.fis.base}}" data-dtype="Number" />
    +
    <input type="number" name="system.fis.mod" value="{{system.fis.mod}}" data-dtype="Number" />
  </div>

  <div class="field">
    <label>Pontos de Vida (PV)</label>
    <input type="number" name="system.pv.value" value="{{system.pv.value}}" data-dtype="Number" />
    /
    <input type="number" name="system.pv.amx" value="{{system.pv.max}}" data-dtype="Number" />
  </div>
</section>