{{! Passive sheat header }}

<header class="sheet-header passive-header">
  <img
    class="item-img"
    src="{{item.img}}"
    data-edit="img"
    data-action="editImage"
    width="75"
    height="75"
  />
  <div class="item-header-right">
    <h2 class="item-name">
      <input
        name="name"
        type="text"
        value="{{item.name}}"
        placeholder="Nameless Passive"
      />
    </h2>
  </div>
</header>