{{! Description tab }}

<section
  class="tab item-tab {{tab.cssClass}}"
  data-group="primary"
  data-tab="description"
>
  <div class="description-tab">
    <div class="description">
      {{formGroup
        systemFields.description.fields.description
        value=system.description.description
      }}
    </div>
  </div>
</section>