{{! Weapon sheet header }}

<header class="sheet-header item-header weapon-header">
  <img
    class="item-img"
    src="{{item.img}}"
    data-edit="img"
    data-action="editImage"
    width="89"
    height="89"
  />
  <div class="item-header-right">
    {{> systems/pars-crucis/templates/item/partials/name-cost.hbs}}
    <div class="item-info">
      {{localize (concat "PC.weapon.subtypes." system.info.subtype ".label")}}
      ·
      {{localize
        (concat
          "PC.weapon.subtypes." system.info.subtype ".groups." system.info.group
        )
      }}
      {{#if system.info.subgroup}}
        ·
        {{system.info.subgroup}}
      {{/if}}
    </div>

    <div class="item-sheet-keywords">
      {{#each system.keywords as |value key|}}
        {{> systems/pars-crucis/templates/partials/pc-keyword.hbs}}
      {{/each}}
    </div>
  </div>
</header>