.ability-header,
.persona-sheet-header,
.persona-tab,
.persona-config,
.pc-item-tab,
.item-header {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    padding: 0;
    margin: 0;
  }
  h1 {
    overflow-x: clip;
    overflow-y: visible;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  h2 {
    height: 24px;
    line-height: 30px;
    font-size: 26px;
    font-family: "LTRemark Black";
  }
  h3 {
    height: 22px;
    line-height: 22px;
    font-size: 20px;
    font-family: "LTRemark Regular";
    font-weight: normal;
    color: var(--color-light-3);
  }
  h4 {
    font-size: var(--font-size-20);
  }
  input {
    padding: 0;
    margin: 0;
    text-align: center;
    /* background-color: var(--color-cool-4); */
    background-color: var(--pc-fade-bg-0);
    border: none;
  }
  .icon-mid {
    height: var(--pc-icon-height-mid);
    width: var(--pc-icon-width-mid);
  }
  .item-block {
    margin-bottom: 1px;
  }
}

/* ACTOR SHEET HEADER */
.persona-sheet-header {
  display: flex;
  flex-direction: row;
  height: 150px;
  margin-bottom: 5px;
}
.profile-img {
  margin: -5px;
  position: relative;
}
h1.name {
  font-size: 40px;
  height: 26px;
  line-height: 20px;
  font-weight: normal;
  border-color: var(--color-light-6);
  border-style: solid;
  border-width: 0 0 1px 0;
}
h1.actor-name {
  margin-left: -75px;
  padding-left: 75px;
}
.header-center-block {
  width: 70%;
  margin-right: 5px;
  .actor-info {
    line-height: 14px;
  }
}
.header-right-block {
  width: 30%;
}
/* ACTOR SHEET HEADER CENTRAL BLOCK */
.attributes,
.subattributes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.attributes {
  margin: 3px 0 7px;
}
.attribute-block,
.subattribute-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.separator {
  margin: auto 1px;
  height: 40px;
  border-width: 0px;
  border-right: 1px;
  border-style: solid;
  border-color: var(--color-light-6);
}
.att-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "SR";
  line-height: 24px;
  width: 100%;
  input {
    width: 100%;
  }
  .att-value {
    font-size: 42px;
    padding-top: 1px;
    height: 36px;
    width: 60%;
  }
  .att-add {
    display: flex;
    flex-direction: column;
    height: 36px;
    width: 40%;
    .att-modifier,
    .att-static {
      font-size: 24px;
      height: 50%;
    }
    .att-static {
      line-height: 20px;
      font-size: 22px;
      font-style: italic;
      text-align: center;
    }
  }
}
.subattributes {
  .separator {
    height: 30px;
  }
  > .subattribute-block {
    flex: 1 1 0;
  }
}
.subattribute-name {
  height: 18px;
}
.subattribute-field {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 22px;
  width: 100%;
  background: var(--color-cool-4);
  border-radius: 5px 0 5px 0;
  input {
    height: 100%;
  }
  .resource-bar {
    inset: 0;
    z-index: 0;
    width: 0%;
    height: 22px;
    background-color: var(--pc-color-health-bg);
    border-radius: 5px 0 5px 0;
  }
  .pe-bar {
    background-color: var(--pc-color-essence-bg);
  }
  .subatt-value {
    padding-bottom: 1px;
    font-family: "Cambria";
    font-size: 24px;
    font-weight: bold;
  }
  .resource-line {
    position: absolute;
    inset: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    background-color: transparent;
    .subatt-current {
      text-align: right;
      padding-right: 2px;
      background-color: inherit;
    }
    .subatt-max {
      text-align: left;
      padding-left: 2px;
      background-color: inherit;
    }
  }
}
/* PERSONA SHEET HEADER RIGHT BLOCK */
.experience {
  width: 100%;
  height: 26px;
  display: flex;
  flex-direction: row;
  align-items: center;
  .xp-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 20px;
    background: var(--pc-fade-bg-0);
    border-radius: 5px;
    font-family: "Cambria";
    font-size: 20px;
  }
  .separator {
    margin-top: -3px;
    border-color: var(--color-warm-3);
    height: 26px;
  }
  input {
    background: transparent;
    height: 26px;
    line-height: 20px;
  }
  .xp-current {
    text-align: center;
    height: 20px;
    width: 30%;
    line-height: 20px;
  }
  .xp-negative {
    color: var(--color-level-warning);
  }
  .xp-total {
    width: 35%;
  }
  .xp-reserved {
    width: 15%;
  }
  .xp-name {
    text-align: center;
    padding-top: 1px;
    width: 20%;
    font-size: 23px;
  }
}
.minors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 18px;
  margin-bottom: 5px;
}
.minor-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40px;
  width: 25%;
  .luck-num {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 22px;
    font-family: "Font Awesome 6 Pro";
    font-size: 16px;
    background: var(--pc-fade-bg-0);
    .luck-mark {
      width: 25%;
    }
  }
  .minor-line {
    width: 100%;
    height: 22px;
    display: flex;
    flex-direction: row;
    font-family: "Modesto Condensed";
    .minor-value {
      text-align: center;
      height: 100%;
      width: 55%;
      padding-top: 1px;
      font-size: 25px;
    }
    .minor-modifier {
      text-align: center;
      height: 100%;
      width: 45%;
      font-size: 19px;
    }
  }
  h4 {
    height: 18px;
    margin: 0;
    font-weight: normal;
    font-size: 19px;
  }
}
/* MITIGATION */
.mitigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60px;
  .mitigation-aux {
    padding-right: 18px;
    line-height: 14px;
    height: 14px;
  }
  .mitigation-mainline {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 32px;
    /* background-color: var(--color-cool-4); */
    background: linear-gradient(
      to right,
      transparent 0%,
      var(--pc-fade-bg-0) 25%,
      var(--pc-fade-bg-0) 75%,
      transparent 100%
    );
    input {
      font-family: "SR";
      /* background-color: var(--color-cool-4); */
      background-color: transparent;
    }
    .mitigation-field {
      display: flex;
      flex-direction: row;
      align-items: center;
      /* width: 40%; */
      h4 {
        font-family: "Modesto Condensed";
        font-size: 30px;
        width: 27px;
      }
      .ar-title,
      .ab-title {
        width: 27px;
        padding-top: 2px;
      }
      .ar-value,
      .ar-mod {
        height: 32px;
      }
      .ar-value {
        text-align: right;
      }
      .ar-value,
      .ab-value {
        padding-top: 2px;
        padding-right: 2px;
      }
      .ab-value,
      .ab-mod {
        text-align: right;
        background-color: transparent;
      }
    }
    .ar-field {
      width: 42%;
    }
    .ab-field {
      width: 45%;
      margin-left: 5px;
      padding: 2px 0;
      border-style: solid;
      border-width: 0 0 0 2px;
      border-color: var(--color-light-6);
      border-radius: 45px 0 0 45px;
      background: linear-gradient(to right, #19367770, transparent);
    }
    .mitigation-aux-col {
      width: 13%;
      .aux-line {
        display: flex;
        flex-direction: row;
        align-items: center;
        .aux-value {
          padding-top: 4px;
          width: 100%;
          height: 16px;
          font-size: 19px;
          text-align: center;
        }
        /* .aux-mod {
          width: 50%;
          height: 16px;
          font-size: 18px;
        } */
      }
    }
    .mitigation-value {
      font-family: "SR";
      padding-top: 1px;
      font-size: 32px;
      width: 50%;
      height: 36px;
    }
    .mitigation-mod {
      font-size: 22px;
      width: 30%;
    }
    .separator {
      height: 22px;
    }
  }
}

/* TABS */
.pars-crucis-nav {
  height: 26px;
  margin-bottom: 5px;
  .active {
    margin-top: 1px;
    font-size: calc(var(--font-size-15) + 1px);
    font-weight: bold;
  }
  a {
    width: 100px;
    height: 26px;
    line-height: 28px;
  }
}
.tab-footer {
  height: 24px;
  width: 100%;
  border-top: 1px solid var(--color-tabs-border);
  margin-top: 5px;
}

/* TAB SEPARATORS */
.skill-tab > .skill-category:nth-child(odd)::after,
.item-list-block > ol:not(:last-child)::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-bottom: 6px;
  background: linear-gradient(
    to right,
    transparent 0%,
    var(--color-light-6) 50%,
    transparent 100%
  );
}

.skill-tab > .skill-category:nth-child(odd)::after {
  margin-top: 3px;
}
.item-list-block > ol:not(:last-child)::after {
  margin-bottom: 5px;
}

/* SKILLS TAB */
.skill-tab {
  display: grid;
  position: relative;
  grid-auto-flow: column;
  grid-template-rows: repeat(2, auto);
  column-gap: 10px;
  grid-auto-columns: 1fr;
  /* height: 400px; */
  --skill-value-width: 25px;
  input {
    font-family: "SR";
  }
  ul {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .category-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20px;
    margin-bottom: 5px;
    .category-title {
      width: calc(100% - var(--skill-value-width) - var(--skill-value-width));
      font-size: 23px;
      line-height: 24px;
    }
    .category-level {
      height: inherit;
      padding-top: 1px;
      line-height: 20px;
      width: var(--skill-value-width);
      color: var(--color-light-3);
      font-size: 22px;
      font-weight: normal;
      font-family: "SR";
      text-align: center;
    }
    .category-modifier {
      height: inherit;
      line-height: 20px;
      width: var(--skill-value-width);
      font-size: 19px;
      border-radius: 0 5px 0 5px;
    }
  }
  .skill {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 28px;
    margin: 0;
    a {
      font-family: "Modesto Condensed";
      font-size: 22px;
    }
    .skill-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: calc(
        100% - 70px - var(--skill-value-width) - var(--skill-value-width)
      );
      .skill-exp {
        margin: 0 0 3px 3px;
        font-size: 14px;
        font-family: "Modesto Condensed";
        color: var(--color-light-4);
      }
    }
    .skill-att {
      width: 70px;
      text-align: center;
    }
    .skill-hard {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 10px;
      height: 100%;
      .shrunk-att {
        font-size: 12px;
      }
      span {
        height: 12px;
      }
    }
    .skill-level {
      width: var(--skill-value-width);
      height: 24px;
      font-size: 24px;
    }
    .skill-mod {
      width: var(--skill-value-width);
      height: 20px;
      font-size: 19px;
      padding-top: 2px;
      border-radius: 5px 0 5px 0;
    }
  }
}
.skill-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.skill-category {
  position: relative;
}
.skill-tab > .skill-category:nth-child(n + 3):nth-child(-n + 6)::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5px;
  width: 1px;
  height: 95%;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    var(--color-light-6) 50%,
    transparent 100%
  );
  pointer-events: none;
  z-index: 1;
}
.skill-tab-footer {
  margin-top: 4px;
  height: 24px;
  width: 100%;
  display: grid;
  position: relative;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  column-gap: 10px;
  .group-mod-line {
    flex: 1 1 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .group-label {
      font-family: "LTRemark Regular";
      height: 100%;
      line-height: 23px;
      padding-top: 2px;
      font-size: 17px;
      color: var(--color-light-3);
    }
    .group-mod {
      height: 20px;
      line-height: 20px;
      width: 25px;
      font-size: 19px;
      border-radius: 5px 0 5px 0;
      font-family: "SR";
    }
  }
}
/* SKILL TAB currently uses 396 pixels of height from 424 available, what to do with the remaining 28 pixels?  */

/* GENERAL ITEM TAB */
.item-list-block {
  height: 395px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-gutter: stable;
  .item-list {
    margin: 0;
    padding: 0;
    :last-child {
      margin-bottom: 0;
    }
  }
  .item-group-title {
    width: 100%;
    height: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .empty-space {
      width: 70px;
    }
    h3 {
      height: 100%;
      width: calc(100% - 140px);
      text-align: center;
      line-height: 20px;
      div {
        height: inherit;
      }
    }
    .item-sorting {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: right;
      gap: 2px;
      width: 70px;
    }
    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      gap: 2px;
      color: var(--color-text-secondary);
    }
    a.active {
      text-shadow: 0 0 10px var(--color-shadow-primary);
      color: var(--color-text-emphatic);
    }
  }
}
.item-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1px;
  border-color: var(--color-scrollbar);
  border-width: 0 0 1px 0;
  border-style: dashed;
  .item-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .item-title {
      width: 180px;
      display: flex;
      flex-direction: row;
      align-items: center;
      h4 {
        padding: 1px 0 0 2px;
        line-height: 23px;
        font-size: 22px;
        font-weight: normal;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .item-keywords {
      width: 200px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      row-gap: 2px;
    }
    .item-controls {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: right;
      gap: 2px;
      width: 70px;
      a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 16px;
      }
    }
  }
}
.item-block:last-child {
  border: transparent;
}
.pc-keyword {
  display: inline-flex;
  height: 16px;
  background-color: var(--color-dark-3);
  border-color: var(--color-dark-6);
  color: var(--color-light-2);
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  padding: 0 2px;
  margin-left: 2px;
  text-align: center;
  line-height: 14px;
  font-size: var(--pc-font-size-small);
  font-family: "BarlowCondensed Light", sans-serif;
  .pc-keyword-label {
  }
  .pc-keyword-value {
    margin-left: 2px;
  }
}

/* ABILITIES TAB */
.abilities-list-block {
  height: calc(395px + 29px);
}

/* ACTIONS */
.persona-actions {
  width: 280px; /* 292px */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .persona-action {
    height: 20px;
    min-width: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Cambria";
    font-size: var(--pc-font-size-mid);
    background-color: var(--color-dark-3);
    border-color: var(--color-dark-6);
    color: var(--color-light-2);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 1px 2px 1px 1px;
    margin-right: 3px;
    i {
      flex-shrink: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 16px;
      width: 16px;
    }
    .action-image {
      flex-shrink: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 16px;
      width: 16px;
      border-radius: 3px;
    }
    .action-name {
      height: 16px;
      width: 100%;
      display: block;
      min-width: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: 3px;
    }
  }
  .ac-attack {
    background-color: var(--pc-color-damage-bg);
    border-color: var(--pc-color-damage-border);
  }
  .ac-test {
    background-color: var(--pc-color-essence-bg);
    border-color: var(--pc-color-essence-border);
  }
  .ac-use {
    background-color: var(--pc-color-health-bg);
    border-color: var(--pc-color-health-border);
  }
  .persona-action:last-child {
    margin: 0;
  }
}

/* INVENTORY TAB */

/* INVENTORY CURRENCY BANK */
.currency-bank {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 24px;
  border-top: 1px solid var(--color-tabs-border);
  margin-top: 5px;
  font-family: "Cambria";
  font-size: 20px;
  gap: 10px;
  .separator {
    height: 12px;
  }
  .currency-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      to right,
      transparent 5%,
      var(--pc-fade-bg-0) 100px,
      transparent 100%
    );
    .currency-desc {
      width: 70px;
      height: 23px;
      line-height: 24px;
    }
    .currency-input {
      height: 23px;
      padding-top: 2px;
      padding-right: 2px;
      margin-right: 1px;
      line-height: 20px;
      width: 100px;
      text-align: right;
      font-family: "Cambria";
      font-size: 19px;
      background: transparent;
    }
  }
  .silver {
    background: linear-gradient(
      to right,
      transparent 5%,
      var(--pc-color-silver-bg) 100px,
      transparent 100%
    );
  }
  .copper {
    background: linear-gradient(
      to right,
      transparent 5%,
      var(--pc-color-copper-bg) 100px,
      transparent 100%
    );
  }
}

/* PASSIVES TAB */
.passive-cost {
  margin: 0 0 3px 3px;
  font-size: 14px;
  font-family: "Modesto Condensed";
  color: var(--color-light-4);
}
.point-bank {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 24px;
  border-top: 1px solid var(--color-tabs-border);
  margin-top: 5px;
  font-family: "Cambria";
  font-size: 20px;
  .pts-desc {
    height: 24px;
    line-height: 24px;
  }
  .pts-sum {
    margin-left: 5px;
    height: 24px;
    line-height: 24px;
  }
  .pts-warning {
    color: var(--color-level-warning);
  }
}
.empty-group-title {
  margin-bottom: 8px;
}
h3.empty-list-title {
  color: var(--color-dark-6);
}
.item-list-block ol.item-list .empty-group-title {
  margin-bottom: 5px;
}

/* DETAILS TAB */
.background {
  width: 100%;
  height: 424px;
  border-radius: 5px;
  background: linear-gradient(
    to bottom,
    var(--pc-fade-bg-0) 28px,
    transparent 90%
  );
  .form-group {
    height: 100%;
    .form-fields {
      height: 100%;
      .prosemirror {
        height: inherit;
        gap: 3px 0;
        .editor-menu {
          justify-content: center;
          padding: 0;
          li {
            button {
              padding: 0 5px;
            }
          }
        }
      }
      .editor-container {
        height: calc(100% - 32px);
        .editor-content {
          padding-left: 5px;
          padding-bottom: 3px;
        }
      }
    }
  }
}
