.sheet,
.persona-config {
  ul {
    padding: 0;
  }
}

.sheet-header {
  display: flex;
  flex-direction: row;
}

.attribute {
  margin-bottom: 10px;
}

.attribute label {
  display: inline-block;
  width: 100px;
}

.attribute button {
  margin-left: 5px;
}

.att-field {
  input {
    width: 100%;
  }
}

.minor-row {
  height: 25px;
  h4 {
    margin: 0;
  }
  input {
    width: 25%;
    height: 20px;
  }
}

.skill-tab {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 400px;
}

.skill-level {
  height: 20px;
  width: 25px;
}

.skill-mod {
  height: 20px;
  width: 25px;
}

.att-config,
.sub-config {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.att-config-item,
.sub-config-item {
  display: flex;
  flex-direction: column;
  width: 16%;
  input {
    width: 100%;
  }
}
