/* PERSONA CONFIG */
section.persona-config {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .favor-col {
    padding: 0;
  }
}
p.info-desc {
  margin-bottom: 6px;
  text-align: center;
}
.info-config {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-color: var(--color-light-6);
  border-style: solid;
  border-width: 0 0 1px 0;
  color: var(--color-light-2);
  h1 {
    flex: 3 1 0;
    height: 36px;
    font-weight: normal;
    input {
      font-size: 21px;
      color: inherit;
      height: 100%;
      padding-top: 15px;
      padding-left: 5px;
      text-align: left;
    }
  }
  h5 {
    color: var(--color-light-2);
    font-size: 15px;
  }
  .info-item {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    select,
    input {
      width: 100%;
      padding: 0 2px;
      font-size: var(--font-size-14);
      color: inherit;
      height: 21px;
      background-color: var(--pc-fade-bg-0);
    }
  }
  .name-config {
    flex: 2 1 0;
    input {
      padding-top: 1px;
      font-family: "LTRemark Regular";
    }
  }
}
.att-config {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  .adjustable {
    color: var(--color-light-5);
  }
  .positive {
    color: var(--pc-color-light-1);
  }
  .negative {
    color: var(--pc-color-negative);
  }
}
.att-config-item,
.sub-config-item {
  flex: 3 1 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 16%;
  height: 46px;
  h4 {
    font-size: 18px;
    height: 18px;
    line-height: 23px;
  }
  input {
    height: 26px;
    width: 100%;
    font-size: 24px;
    font-family: "SR";
  }
}
.size2 {
  flex: 4 1 0;
}
.favor-desc {
  margin-top: 5px;
  width: 100%;
  text-align: center;
}
.favor-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  ul {
    margin: 0;
  }
  .favor-col {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    .favor-line {
      display: flex;
      flex-direction: row;
      align-items: center;
      input {
        width: 21px;
      }
      .skill-label {
        width: calc(100% - 41px);
        color: var(--color-light-5);
      }
      .skill-favorable {
        /* color: var(--color-level-success); */
        color: var(--color-light-2);
      }
      .skill-level {
        width: 20px;
        font-size: 18px;
        text-align: center;
        margin-top: -3px;
      }
    }
  }
  .separator {
    height: 140px;
  }
}
input.favor-box {
  background-color: transparent;
}

/* PDM CONFIG */
section.pdm-config {
  height: auto;
}

/* ACTION PICKER */
.action-picker {
  min-height: 120px;
  max-height: 550px;
  ol,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .item-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    .item-title {
      width: 160px;
      display: flex;
      flex-direction: row;
      align-items: center;
      h4 {
        padding: 1px 0 0 2px;
        line-height: 23px;
        font-size: 17px;
        font-family: "BarlowCondensed Regular";
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .item-keywords {
      width: 220px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      row-gap: 2px;
      column-gap: 2px;
    }
  }
}

/* AMMO-PICKER */
.ammo-picker {
  .inline-item {
    padding-bottom: 1px;
    width: 100%;
    border-color: var(--pc-color-dark-1);
    border-width: 0 0 1px 0;
    border-style: dashed;
  }
  .inline-icon {
    display: inline-block;
    /* vertical-align: middle; */
    border-radius: 5px;
    vertical-align: -5px;
  }
  .inline-title {
    line-height: 23px;
    font-size: 17px;
    font-family: "BarlowCondensed Regular";
  }
  .item-keywords {
    vertical-align: 1px;
  }
  .inline-item:last-child {
    border: transparent;
  }
  .inline-label {
    vertical-align: 1px;
    margin-left: 8px;
    font-family: "Amiri";
    color: var(--color-light-3);
  }
  .inline-value {
    vertical-align: 1px;
  }
}
