:root {
  --pc-font-size-small: 12.5px;
  --pc-font-size-mid: 14px;
  --pc-font-size-big: 17px;

  --pc-icon-width-mid: 24px;
  --pc-icon-height-mid: 24px;

  --pc-color-health-bg: #24942d70;
  --pc-color-health-border: #24942d99;
  --pc-color-health-border-st: #24942de6;
  --pc-color-essence-bg: #2342a870;
  --pc-color-essence-border: #2342a899;
  --pc-color-essence-border-st: #2342a8e6;
  --pc-color-damage-bg: #9c1d1d70;
  --pc-color-damage-border: #9c1d1d99;
  --pc-color-damage-border-st: #9c1d1de6;

  --pc-color-copper-bg: #4d3626;
  --pc-color-silver-bg: #505b68;
  --pc-color-costless-bg: #000;

  --pc-color-negative: #d7481f;
  --pc-color-light-1: #dfdacb;
  --pc-color-light-2: #e9ce7f;
  --pc-color-light-3: #aca89b;
  --pc-color-dark-1: #6f5b3b;

  /* --pc-fade-bg-0: #241e24; */
  --pc-fade-bg-0: #2a232b;
  /* --pc-fade-bg-1: #241e24f2; */
  --pc-fade-bg-1: #2a232bf2;
}
