:root {
  --pc-font-size-small: 12.5px;
  --pc-font-size-mid: 14px;
  --pc-font-size-big: 17px;

  --pc-icon-width-mid: 24px;
  --pc-icon-height-mid: 24px;

  --pc-color-health-bg: #24942d70;
  --pc-color-health-border: #24942d90;
  --pc-color-essence-bg: #2a5cc770;
  --pc-color-essence-border: #2a5cc790;
  --pc-color-damage-bg: #c72a2a70;
  --pc-color-damage-border: #c72a2a90;
  --pc-color-copper-bg: #4d3626;
  --pc-color-silver-bg: #505b68;
  --pc-color-costless-bg: #000;

  --pc-color-negative: #d7481f;
  --pc-color-light-1: #dfdacb;
  --pc-color-light-2: #e9ce7f;

  /* --pc-fade-bg-0: #241e24; */
  --pc-fade-bg-0: #2a232b;
  /* --pc-fade-bg-1: #241e24f2; */
  --pc-fade-bg-1: #2a232bf2;
}
