@font-face {
  font-family: "SR";
  src: url("../fonts/Sundayromanticdemo.otf");
}

:root {
  --pc-font-size-mid: 14px;

  --pc-icon-width-mid: 24px;
  --pc-icon-height-mid: 24px;

  --pc-color-health-bg: #24942d70;
  --pc-color-health-border: #24942d90;
  --pc-color-essence-bg: #2a5cc770;
  --pc-color-essence-border: #2a5cc790;
  --pc-color-damage-bg: #c72a2a70;
  --pc-color-damage-border: #c72a2a90;
  --pc-color-copper-bg: #4d3626;
  --pc-color-silver-bg: #505b68;
}
