/* ITEM HEADER */
.ability-header {
  height: 75px;
}

.action-block {
  display: flex;
  flex-direction: row;
  input,
  select {
    height: 17.5px;
  }
  .action-block-info {
    width: 100%;
  }
  .action-effect {
    width: 100%;
    input {
      width: 100%;
    }
  }
  .action-details {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr 1fr 3fr 1fr 3fr;
    input {
      width: 100%;
    }
  }
}

.keyword-picker {
  width: 400px;
  .form-footer {
    display: grid;
    grid-template-columns: repeat(4, 25%); /* 4 columns, 25% each */
    justify-items: stretch; /* items fill the column instead of shrinking */
    gap: 0; /* must be 0 or they overflow */
  }
}
