/* ITEM HEADER */
.item-sheet {
  .pars-crucis-nav {
    margin-left: 92px;
  }

  .ability-header,
  .item-header {
    display: flex;
    flex-direction: row;
    height: 58px;
    min-height: 58px;
    margin-bottom: 5px;
    img.item-img {
      position: absolute;
      border-radius: 10px 0 0 0;
    }
  }
  .item-header-right {
    margin-left: 92px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 92px);
    .item-name-line {
      display: flex;
      flex-direction: row;
      width: 100%;
      .item-name {
        padding-left: 3px;
        width: 75%;
      }
      /* EXPERIENCE AND COST */
      .experience {
        width: 25%;
        .xp-cost {
          text-align: center;
          width: 50%;
        }
        .xp-name {
          width: 50%;
        }

        .cost-line {
          width: 100%;
          height: 20px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
          font-family: "Cambria";
          font-size: 20px;
          .item-cost {
            height: 20px;
            line-height: 20px;
            width: 75%;
            text-align: right;
          }
          .currency {
            height: 20px;
            line-height: 20px;
            width: 25%;
            text-align: left;
            margin-left: 2px;
          }
          .costless {
            height: 20px;
            line-height: 20px;
            width: 100%;
            text-align: center;
            background: linear-gradient(
              to right,
              transparent 5%,
              var(--pc-color-costless-bg) 50%,
              transparent 100%
            );
          }
        }
        .silver {
          background: linear-gradient(
            to right,
            transparent 5%,
            var(--pc-color-silver-bg) 70px,
            transparent 100%
          );
        }
        .copper {
          background: linear-gradient(
            to right,
            transparent 5%,
            var(--pc-color-copper-bg) 70px,
            transparent 100%
          );
        }
      }
    }
    .item-sheet-keywords {
      display: flex;
    }
  }
  .item-info {
    line-height: 14px;
    height: 14px;
    padding-left: 3px;
  }

  /* DESCRIPTION TAB */
  .description {
    width: 100%;
    height: 272px;
    border-radius: 5px;
    background: linear-gradient(
      to bottom,
      var(--color-cool-4) 28px,
      transparent 90%
    );
    .form-group {
      height: 100%;
      .form-fields {
        height: 100%;
        .prosemirror {
          height: inherit;
          gap: 3px 0;
          .editor-menu {
            justify-content: center;
            padding: 0;
            li {
              button {
                padding: 0 5px;
              }
            }
          }
        }
        .editor-container {
          height: calc(100% - 32px);
          .editor-content {
            padding-left: 5px;
            padding-bottom: 3px;
          }
        }
      }
    }
  }

  /* ACTIONS TAB */
  .actions-tab {
    height: 376px;
    .actions-controls {
      height: 15px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 5px;
      font-family: "Amiri";
      font-size: 14px;
      font-weight: bold;
      border-color: var(--color-light-6);
      border-style: solid;
      border-width: 0 0 1px 0;
      a {
        height: 15px;
        text-align: center;
        width: 30%;
      }
    }
    .action-list {
      height: 356px;
      padding: 0;
      margin: 0;
      overflow-y: auto;
      overflow-x: hidden;
      scrollbar-gutter: stable;
    }
  }
  .action-block {
    display: flex;
    flex-direction: column;
    min-height: 160px;
    padding-bottom: 1px;
    border-color: var(--color-scrollbar);
    border-width: 0 0 1px 0;
    border-style: dashed;
    input,
    select {
      height: 17.5px;
    }
    select {
      padding: 0 1px;
    }
    input {
      padding: 1px 2px 0;
    }
    .action-header {
      display: flex;
      flex-direction: row;
      img {
        border-radius: 5px 0 0 0;
      }
      .action-block-info {
        margin-left: 2px;
        display: flex;
        flex-direction: column;
        width: calc(100% - 36px);
        .action-title-line {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          height: 18px;
          input,
          select {
            height: 18px;
            font-size: 12.5px;
          }
          .action-title {
            width: 25%;
            font-size: var(--pc-font-size-mid);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .action-type {
            width: 20%;
          }
          .action-skill {
            width: 28%;
          }
          .action-subtype {
            font-size: 12.5px;
            width: 27%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .dif-label {
              height: 18px;
              line-height: 18px;
              width: 70%;
            }
            input {
              width: 30%;
              text-align: center;
              font-size: var(--pc-font-size-mid);
            }
          }
          .action-usage {
            width: 55%;
          }
          a {
            text-align: center;
            width: 16px;
            height: 16px;
          }
        }
        .action-keyword-line {
          display: flex;
          flex-direction: row;
          justify-content: left;
          align-items: center;
          width: 100%;
          height: 18px;
          .add-keyword {
            display: inline-flex;
            height: 18px;
            font-family: "Amiri";
            font-weight: bold;
            align-items: center;
            padding-top: 1px;
            gap: 2px;
          }
          .keyword-block {
            display: flex;
            flex-direction: row;
            align-items: center;
          }
        }
      }
    }
    .action-effect {
      width: 100%;
      input {
        width: 100%;
      }
    }
    .action-details {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr 3fr 1fr 3fr 1fr 3fr;
      input {
        width: 100%;
      }
    }
  }
  .action-block:last-child {
    border: transparent;
  }
}

/* CONFIG TAB */
.item-info-config {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-color: var(--color-light-6);
  border-style: solid;
  border-width: 0 0 1px 0;
  margin-bottom: 5px;
  h5 {
    color: var(--color-light-2);
    font-size: 14px;
  }
  .item-info-block {
    flex: 2 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    select,
    input,
    .not-available {
      line-height: 21px;
      width: 100%;
      padding: 1px 2px 0;
      font-size: var(--pc-font-size-small);
      text-align: center;
      height: 21px;
      border-width: 1px;
      border-style: solid;
      border-color: transparent;
    }
    .double-entry {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      select,
      input,
      .not-available {
        line-height: 21px;
        width: 50%;
        padding: 1px 2px 0;
        font-size: var(--pc-font-size-small);
        text-align: center;
        color: inherit;
        height: 21px;
        border-width: 1px;
        border-style: solid;
        border-color: transparent;
      }
    }
  }
  .item-name-block {
    flex: 3 1 0;
    input {
      font-size: var(--pc-font-size-mid);
    }
  }
}
.name-tag {
  color: var(--color-light-4);
  font-family: "Amiri";
  font-weight: bold;
}
/* Checked state */
input[type="checkbox"]:checked + .name-tag,
input[type="checkbox"]:checked ~ .name-tag {
  color: var(--color-light-1);
  border-color: #e0a800;
  /* box-shadow: 0 0 6px 2px rgba(255, 210, 0, 0.4); */
  text-shadow: 0 0 6px rgba(255, 210, 0, 0.7);
}
.name-tag:hover {
  filter: brightness(1.15);
}
.item-keywords-config {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}
.keyword-picker {
  width: 440px;
  .form-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
    min-width: 0;
    button {
      width: 99.25px;
      min-width: 0;
      white-space: nowrap;
      font-size: 14px;
      height: 18px;
      line-height: 18px;
      min-height: 18px;
      background-color: var(--color-dark-3);
      border-color: var(--color-dark-6);
      color: var(--color-light-2);
      border-style: solid;
      border-width: 1px;
      border-radius: 5px;
      padding: 0 3px;
      text-align: center;
    }
  }
}
