{{! PDM Challenge block }}

<section class="experience">
  <div class="xp-line challenge-line">
    <input
      class="xp-total challenge"
      name="system.challenge"
      type="Number"
      value="{{system.challenge}}"
      data-dtype="Number"
    />
    <div class="separator"></div>
    <div class="xp-name challenge-name">{{localize "PC.challenge"}}</div>
  </div>
</section>